# ignore editor temporary files
# vi
*.sw?
# emacs
*~

# ignore .pyc and templates
*.pyc
*Template.p*

# ignore local versions of .in files
bashrc

# etc files
etc/conf.d
etc/99-override
etc/logconf.ini

#ignore generated domain files
shared/domains/cl_dom_*
shared/domains/clm_*
shared/domains/cl_action.py
shared/domains/cl_work_action.py
shared/domains/clv_vdc.py
shared/domains/cl_visibility_permission.py

